<div class="book">
    <div class="book__img">
        <img src="ссылка на изображение, если его нет, то нужно вставить заглушку" alt="">
    </div>
    <div class="book__inner">
        <h5 class="book__authors">Тут указать автора, если их несколько то перечислить их через запятую</h5>
        <h3 class="book__title">Здесь выводится title</h3>
        <div class="book__rating">
            <div class="book__averageRating">тут будут выведены звездочки и закрашены в соответствии с данными</div>
            <span class="book__ratingCount">Здесь выводится сколько всего оценок</span>
        </div>
        <p class="book__description">Здесь выводится описание книги</p>
        <h4 class="book__retailPrice">Здесь выводится цена</h4>
        <button class="book__btn">Тут будет либо "in the cart" если нельзя купить, а если можно то "buy now". А так же от этого будет зависеть стиль кнопки.</button>
    </div>
</div>
