extends ../layouts/layout.pug

block title
    | BOOKSHOP

block content
    section.main
        .container
            .swiper-container.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src=require("@/assets/img/banner2.jpg") alt="" loading="lazy")
                    .swiper-slide
                        img(src=require("@/assets/img/banner3.jpg") alt="" loading="lazy")
                .swiper-pagination
                a(href="javascript:").card.card_purple.swiper__card.swiper__card_purple
                    p.card__text Change old book on new
                    img(src=require("@/assets/img/arrow-right.svg") alt="")
                a(href="javascript:").card.card_pink.swiper__card.swiper__card_pink
                    p.card__text top 100 books 2022
                    img(src=require("@/assets/img/arrow-right.svg") alt="")
    section.shop
        .container
            .shop__category
                button.shop__btn#btnArchitecture Architecture
                button.shop__btn#btnArtFashion Art & Fashion
                button.shop__btn#btnBiography Biography
                button.shop__btn#btnBusiness Business
                button.shop__btn#btnCraftsHobbies Crafts & Hobbies
                button.shop__btn#btnDrama Drama
                button.shop__btn#btnFiction Fiction
                button.shop__btn#btnFoodDrink Food & Drink
                button.shop__btn#btnHealthWellbeing Health & Wellbeing
                button.shop__btn#btnHistoryPolitics History & Politics
                button.shop__btn#btnHumor Humor
                button.shop__btn#btnPoetry Poetry
                button.shop__btn#btnPsychology Psychology
                button.shop__btn#btnScience Science
                button.shop__btn#btnTechnology Technology
                button.shop__btn#btnTravelMaps Travel & Maps

            .shop__container


