extends ../layouts/layout.pug

block title
    | BOOKSHOP

block content
    section.main
        .container
            .swiper-container.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src=require("@/assets/img/banner2.jpg") alt="" loading="lazy")
                    .swiper-slide
                        img(src=require("@/assets/img/banner3.jpg") alt="" loading="lazy")
                .swiper-pagination
                a(href="javascript:").card.card_purple.swiper__card.swiper__card_purple
                    p.card__text Change old book on new
                    img(src=require("@/assets/img/arrow-right.svg") alt="")
                a(href="javascript:").card.card_pink.swiper__card.swiper__card_pink
                    p.card__text top 100 books 2022
                    img(src=require("@/assets/img/arrow-right.svg") alt="")
    section.shop
        .container.shop__container
            .shop__category
                button.shop__category-btn.active#btnArchitecture Architecture
                button.shop__category-btn#btnArtFashion Art & Fashion
                button.shop__category-btn#btnBiography Biography
                button.shop__category-btn#btnBusiness Business
                button.shop__category-btn#btnCraftsHobbies Crafts & Hobbies
                button.shop__category-btn#btnDrama Drama
                button.shop__category-btn#btnFiction Fiction
                button.shop__category-btn#btnFoodDrink Food & Drink
                button.shop__category-btn#btnHealthWellbeing Health & Wellbeing
                button.shop__category-btn#btnHistoryPolitics History & Politics
                button.shop__category-btn#btnHumor Humor
                button.shop__category-btn#btnPoetry Poetry
                button.shop__category-btn#btnPsychology Psychology
                button.shop__category-btn#btnScience Science
                button.shop__category-btn#btnTechnology Technology
                button.shop__category-btn#btnTravelMaps Travel & Maps

            .shop__books-container


