header.header
    .container
        a(href='/').header__logo Bookshop
        .header__links
            a(href='/').link.active books
            a(href='javascript:').link audiobooks
            a(href='javascript:').link Stationery & gifts
            a(href='javascript:').link blog
        .header__links
            a(href='javascript:').img
                img(src=require('@/assets/img/user.svg') alt="")
            a(href='javascript:').img
                img(src=require('@/assets/img/search.svg') alt="")
            a(href='javascript:').img.shop-bag
                img(src=require('@/assets/img/shop-bag.svg') alt="")
                .shop-bag__counter 3



