block variables
    -  const name = "Kipper";

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Bookshop
        link(rel='stylesheet' href='./style.css' type='text/css')
    body
        h1 Hello
        p #{name}

        script(src='src/index.js')
